@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.user-info-container {
    width: 100%;
    height: auto;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.content .tittle {
    margin: 0;
}

.user {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom: 1px solid #000;
}

.user p {
    font-size: large;
    font-weight: 700;
}

.user-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    background-color: #e5f1ff;
    border-radius: 10px;
  }

  .user-info-btn-astnt{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #2E6171;
    color: white;
    font-weight: bold;
    border: none;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

.user div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.record-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.record-data-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    align-items: center;
}

.data-container {
    display: contents;
}

.data-container > p {
    text-align: justify;
    padding: 0.5rem;
}

.add-reason-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.reason-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.reason-container input {
    width: 80%;
}

.record{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1%;
}

.list-record{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-record p{
    margin: 1% 0;
}
