@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bgColor: #E3F2FF;
    --fontColor: #0C0910;
    --Color: #2E6171;
}

*{
    font-family: "Poppins", sans-serif;
    color: var(--fontColor);
}

p{
    margin: 0;
    line-height: 0.8;
}

h1{
    margin: 0;
    line-height: 0.8;
}

.x-small{
    font-size: x-small;
}

.main-container-sesion{
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 95vw;
}

.column-info-s{
    height: 80vh;
    background-color: var(--bgColor);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sesion-text{
    font-weight: bold;
    font-size: 1.8em;
}

.inputs-s{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
    margin-top: 10%;
}

.sesion-subtitle{
    font-size: x-small;
    width: 5%;
}

.sesion-input{
    width: 100%;
    padding: 1% 2%;
    border-radius: 5px;
    border-color: black;
}

.sesion-btn{
    margin-top: 10%;
    padding: 2% 1%;
    width: 70%;
    font-weight: bold;
    background-color: var(--Color);
    color: white;
    font-size: small;
    border-color: transparent;
    border-radius: 5px;
}

.to-register{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    width: 100%;
}

.link-btn{
    background-color: transparent;
    border-color: transparent;
    font-size: x-small;
    font-weight: bold;
    padding: 0;
    margin-left: 1%;
}

.column-img-l{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sesion-img{
    height: 75vh;
}

.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.logo-title{
    font-size: 5em;
    margin: 0;
}

.logo-text{
    font-size: 2em;
    margin-left: 1%;
}